<h1>Editing score</h1>

<%= render "form", score: @score %>

<br>

<div>
  <%= link_to "Show this score", @score %> |
  <% if session[:prev_page] === 'index_score'%>
    <%= link_to "Back to scores", scores_path %>
  <% else %>
    <%= link_to "Back to student scores", edit_score_student_path({id: session[:student_id]}) %>
  <% end %>
</div>
